* {
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 40px;
    box-shadow: 5px 5px;
    border-radius: 4px;
    height: 420px;
    width: 300px;
    border: 1px solid black;
    text-align: center;
    background-color: rgb(206, 206, 206);
}

.calculator-display {
    display: flex;
    flex-direction: column;;
    width: 200px;
    height: 80px;
    background-color: rgb(167, 167, 167);
    box-shadow: 3px 3px black;
}

.display {
    padding: 10px;
    text-align: right;
}

.top {
    font-size: 12px;
}

.bottom {
    font-size: 24px;
}

.calculator-functions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btn.delete {
    background-color: rgb(117, 3, 3);
    width: 80px;
    padding: 20px;
}

.btn.clear {
    background-color: black;
    width: 80px; 
    padding: 20px;
} 

.calculator-btns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    color: white;
    background-color: rgb(0, 70, 0);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px black;
}

.btn.operator, .btn.equals {
    background-color: green;
}

.btn.operator.pressed {
    background-color:rgb(102, 255, 135)
}

